
.CustomButton{
  margin: 20%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-radius: 2vw;
  text-align: center;
  background-color: #800; 
  padding: 10px;
  max-width: 60%;
}

.CustomButton span{
  color: #ffffff;
}

#home-tiles a{
  text-decoration: none;
  color: #fff;
}


#home-tiles
{
  margin-top: 20px;
  font-size: 2vw;
}

@media(max-width: 991px)
  {
#home-tiles
{
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2vw;
  font-size: 2em;
}
.CustomButton{
  margin-top: 20px;
  }}
